@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Home";
}
@inject IConfiguration config
@model IndexViewModel
@{ 
    var max_quota_bytes = config.GetValue<int>("MaxProjectSizeBytes");
    var max_quota_mb = max_quota_bytes / (1024 * 1024);
}
<script>
    var max_app_bytes = @max_quota_bytes;
</script>
@if (User.Identity.IsAuthenticated)
{
    if (!Model.HasAPIKey)
    {
        <script>
            function generateAPIKey() {
                $("#gen-key").text("Generating key...");
                $.post("/api/new-key", function (data) {
                    $("#api-area").html('<p>This is your API key. Store it somewhere safe.</p><p class="text-light bg-dark">' + data + '</p><br/><a href="/" class="ui button">Continue</a');
                }).fail(function (error) {
                    $("#api-area").html('<p>An error occurred.</br>Details:</p><p class="text-light bg-dark">' + "[" + error.status + "] " + error.responseText + '</p>');
                });
                this.generateAPIKey = null;
            }
        </script>
        <div id="api-area">
            <p>Before starting, you need an API key.</p>
            <button id="gen-key" onclick="generateAPIKey()" type="button" class="ui button">Generate an API key</button>
        </div>
    }
    else
    {
        if (Model.Applications.Count() == 0)
        {
            <p>You have no applications.</p>
        }
        else
        {
            <p>Your apps:</p>
            <div class="ui link cards">
                @foreach (var app in Model.Applications)
                {
                    <div class="ui card">
                        <div class="content">
                            <div class="header">@app.Name</div>
                        </div>
                        <div class="content">
                            <div class="ui label">
                                ID: @app.ID
                            </div>
                            @if (app.IPRestrictedDeployer)
                            {
                                <div class="ui label">
                                    IP restricted: true
                                </div>
                            }
                        </div>
                        <div class="content">
                            <div id="status-@app.ID" class="ui label">
                                Status: @((app.Locked) ? "updating" : "ready")
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui small progress">
                                <div id="pb-@app.ID" class="bar" style="width: @Html.Raw(((app.Size_Bytes * 100) / max_quota_bytes) + "%")">
                                    <div id="pb-label-@app.ID" class="progress">@Html.Raw(((app.Size_Bytes * 100) / max_quota_bytes) + "%")</div>
                                </div>
                                <div id="pb-desc-@app.ID" class="label">Quota usage: @(app.Size_Bytes / (1024 * 1024)) / @max_quota_mb MB</div>
                            </div>
                        </div>
                        <div class="extra content">
                            <a asp-action="EditApp" asp-route-id="@app.ID" class="ui button">Configure</a>
                        </div>
                    </div>
                }
            </div>
            <p>
                <a asp-controller="Home" asp-action="GenerateConfiguration">Click here</a>
                to download your client configuration file.
            </p>
            <script>
                var ws = new WebSocket(`wss://${location.host}/ws/app-status`);
                ws.onmessage = function (data) {
                    let msg = JSON.parse(data.data);
                    //console.log(msg);
                    if (msg.action === "lockedChanged") {
                        if (msg.locked) {
                            $("#status-" + msg.id).html("Status: updating");
                        }
                        else {
                            $("#status-" + msg.id).html("Status: ready");
                            let percent = parseInt(msg.size * 100 / max_app_bytes);
                            $("#pb-" + msg.id).css('width', percent + "%");
                            $("#pb-label-" + msg.id).html(percent + "%");
                            $("#pb-desc-" + msg.id).html("Quota usage: " + parseInt(msg.size / (1024 * 1024)) + " / " + parseInt(max_app_bytes / (1024 * 1024)) + " MB");
                        }
                    }
                };
                ws.onerror = function (err) {
                    console.log(err);
                }
            </script>
        }
        <br />
        <a asp-controller="Home" asp-action="EditApp" id="reg-app" class="ui button">Register a new application</a>

    }
}
else
{

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}

